.navigation {
    margin: 26px 0;
    display: flex;
    margin-left: 2.5%;
    a {
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      position: relative;
      color:$color-2;
    }
    .nav-active {
      &::after {
        content: "";
        width: 85%;
        height: 5px;
        background: $color-4;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }